
<footer>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-s-3 ">
                <img src="../img/carrito.png" width="50" height="50">
                <p><strong>Envios gratis</strong><br>por 29€ de compra</p>
            </div>
            <div class="col-xs-6 col-s-3 ">
                <img src="../img/perfil.png" width="50" height="50">
            </div>
            <div class="col-xs-6 col-s-3 ">
                <img src="../img/estrella.png" width="50" height="50">
            </div>
            <div class="col-xs-6 col-s-3 ">
                <img src="../img/carta.png" width="50" height="50">
            </div>

        </div>
        <p>&copy; gbgvhg</p>
    </div>
</footer>