

    <h1 class="title-products">Productos para mascotas</h1>

<div class="row">

    <div class="col-xs-12">

        <form action="">
            <input class="search-input" type="search" name="search" placeholder="busca el producto">
        </form>

        <select name="" class="select-order" id="">
            <option value="">Precio mas bajo</option>
            <option value="">Precio mas alto</option>
            <option value="">Por opiniones</option>
            <option value="">Por descuento</option>
        </select>

    </div>

</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box"> 
        <img src="../img/pelota_lanzador_perros.jpg" width="200px" height="200px" alt="">
        <div class="hidden offer">OFERTA</div>
        <h3>Juguete para morder</h3>
        <strong class="price">12.99€</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box"> 
        <img src="../img/juguete-para-perro-hueso-de-caucho.jpg" width="100%" height="200px" alt="">
        <div class="offer">OFERTA</div>
        <h3>Hueso de caucho</h3>
        <strong class="price"><del>9.99€</del> 7.99€</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box"> 
        <img src="../img/juguete-para-perros-pequenos-pelota-con-pinchos-azul_1_g.jpeg" width="100%" height="200px" alt="">
        <div class="hidden offer">OFERTA</div>
        <h3>Pelotas con puas</h3>
        <strong class="price">5.99€</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box"> 
        <img src="../img/Juguete_perro_1.jpg" width="100%" alt="">
        <div class="hidden offer">OFERTA</div>
        <h3>Peluche perro morder para todos los cachorros</h3>
        <strong class="price">14.99€</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box"> 
        <img src="../img/309596_pla_striped_jumper_cooper_hs_01_8.jpg" width="100%" alt="">
        <div class="hidden offer">OFERTA</div>
        <h3>Peluche perro morder</h3>
        <strong class="price">14.99€</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box"> 
        <img src="../img/play_bite_juguete_mordedor_PLB70670.webp" width="100%" alt="">
        <div class="offer">OFERTA</div>
        <h3>Hueso para morder</h3>
        <strong class="price"><del>11.99€</del> 8.99€</strong>
    </a>

</div>

<ul class="pagination">
    <li><a href="" class="active">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li>...</li>
    <li><a href="">10</a></li>
</ul>
    